@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Oswald:wght@200..700&display=swap');

:root {
    --text-align: center;
    --honolulu-blue: #017bb5ff;
    --safety-orange: #f48024ff;
    --picton-blue: #00a1d6ff;
    --white: #ffffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--white);
    color: var(--honolulu-blue);
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    line-height: 1.6;
}

header{
  display: grid;
  grid-template-columns: 2fr 2fr ;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

header nav {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  gap: 20px;
  padding: 8px;
  
  }

nav a {
  text-decoration: none;
  color: var(--safety-orange);
  font-size: larger;
}

header img{
    width: 200px;
    height: auto;
}

h2 {
    font-family: "Oswald", sans-serif;
    color: var(--safety-orange);
    margin-bottom: 16px;
  }
  
  p {
    color: var(--honolulu-blue);
    margin-bottom: 16px;
  }
  
  .hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;

  }
  
  .hero h1 {
    position: absolute;
    color: var(--safety-orange);
    background-color: rgba(30, 81, 123, 0.5);
    font-size: xx-large;
    top: 200px;
    padding: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  
  .hero article {
    position: absolute;
    top: 300px;
    background-color: rgba(30, 81, 123, 0.5);
    padding: 20px;
    margin: 5rem;
    max-width: 1000px;
    border-radius: 8px;
    color: var(--white);
  }
  
  .hero article p {
    color: var(--white);
  }
  
  .hero article img {
    width: 200px;
    height: auto;
    float: right;
    margin: 0 20px 20px 0;
  }

  .history {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  
    text-align: justify;
  }
  
  .content_history {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .history h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;

  }

  .history img{
    width: 400px;
    height: auto;
    margin: 0 20px;
    border-radius: 5px;
  }

  .adventure-awaits-you{
    display: flex;
    align-items:  center;
    flex-direction: column;
  }

  .images_adventure{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .images_adventure figure{
    margin: 0 20px;
  }
  
  footer {
    display: flex;
    margin-top: 32px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--picton-blue);
    align-items: center;
    margin: 50px 0 20px;
  }

  footer p {
    flex: 1;
    text-align: center;
    margin: 0;
  }

  .sociallinks{
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 10px;
    
  }

  .filler{
    display: flex;
    flex: 1;
  }
  
  footer img {
    width: 50px;
    padding: 5px;
    text-decoration: none;
  }